.toc-body {
  margin: 0; }

.toc-fullscreen-section {
  background-color: #D9E7FF;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.toc-button {
  display: block;
  box-sizing: border-box;
  color: #D9E7FF;
  border: 2px solid #D9E7FF;
  background: none;
  box-shadow: none;
  font-weight: 300;
  width: 100%;
  padding: 9px 18px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  transition: 0.1s linear; }
  @media (min-width: 768px) {
    .toc-button {
      padding: 12px 24px; } }
  @media (min-width: 768px) {
    .toc-button {
      font-size: 24px; } }
  .toc-button:hover {
    color: #FFFFFF;
    border-color: #FFFFFF; }
  .toc-button:active {
    background: #FFFFFF;
    color: #387EF5; }

.toc-primary-button {
  background: #D9E7FF;
  color: #387EF5;
  padding: 9px 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; }
  @media (min-width: 768px) {
    .toc-primary-button {
      padding: 12px 24px; } }
  @media (min-width: 768px) {
    .toc-primary-button {
      font-size: 24px; } }
  .toc-primary-button:hover {
    color: #387EF5;
    background: #FFFFFF;
    border-color: #FFFFFF; }
  .toc-primary-button:active {
    background: none;
    color: #D9E7FF; }

#toc-call-to-action-section {
  background-color: #387EF5; }

.toc-fullscreen-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center; }

.toc-call-to-action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 400px;
  padding: 25px; }

.toc-call-to-action-heading {
  margin-bottom: 18px; }
  @media (min-width: 768px) {
    .toc-call-to-action-heading {
      margin-bottom: 24px; } }
  .toc-call-to-action-heading h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #D9E7FF;
    font-weight: 300;
    margin: 0; }
    @media (min-width: 768px) {
      .toc-call-to-action-heading h1 {
        font-size: 40px; } }

.toc-call-to-action-message {
  margin-bottom: 18px; }
  @media (min-width: 768px) {
    .toc-call-to-action-message {
      margin-bottom: 24px; } }
  .toc-call-to-action-message p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
    margin-top: 0;
    color: #D9E7FF; }
    @media (min-width: 768px) {
      .toc-call-to-action-message p {
        font-size: 24px; } }
    @media (min-width: 768px) {
      .toc-call-to-action-message p {
        margin-bottom: 16px; } }

.toc-call-to-action-actions {
  max-width: 400px;
  width: 90%; }

.toc-call-to-action-action {
  flex: 1 1 auto;
  margin-bottom: 12px; }
  @media (min-width: 768px) {
    .toc-call-to-action-action {
      margin-bottom: 16px; } }

.toc-call-to-action-images {
  flex: 1 1 200px;
  display: flex;
  padding: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.toc-call-to-action-image-phone {
  width: 200px;
  height: 405px;
  background: url(assets/images/phone.svg);
  background-size: cover; }
