$tablet-width: 768px;
$notebook-half-width: 940px;
$notebook-width: 1200px;
$desktop-width: 1600px;

@mixin toc-static-landing-font($font-size) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size * 3/4;

  @media (min-width: $tablet-width) {
    font-size: $font-size;
  }
}

@mixin toc-static-margin-bottom($margin-size) {
  margin-bottom: $margin-size * 3/4;

  @media (min-width: $tablet-width) {
    margin-bottom: $margin-size;
  }
}

$primary-color: #387EF5;
$light-color: #D9E7FF;
$white-color: #FFFFFF;

.toc-static-body {
  margin: 0;
  // overflow: hidden;
}

.toc-static-landing-content {
  // overflow: scroll;
}

.toc-static-fullscreen-section {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toc-static-button {
  color: $light-color;
  border: 2px solid $light-color;
  background: none;
  box-shadow: none;
  font-weight: 300;
  width: 100%;
  padding: 9px 18px;
  @media (min-width: $tablet-width) {
    padding: 12px 24px;
  }
  @include toc-static-landing-font(24px);

  transition: 0.1s linear;

  &:hover {
    color: $white-color;
    border-color: $white-color;
  }

  &:active {
    background: $white-color;
    color: $primary-color;
  }
}

.toc-static-primary-button {
  background: $light-color;
  color: $primary-color;
  padding: 9px 18px;
  @media (min-width: $tablet-width) {
    padding: 12px 24px;
  }
  @include toc-static-landing-font(24px);

  &:hover {
    color: $primary-color;
    background: $white-color;
    border-color: $white-color;
  }

  &:active {
    background: none;
    color: $light-color;
  }
}

.toc-static-call-to-action-section {
  background-color: $primary-color;
}

.toc-static-fullscreen-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.toc-static-call-to-action-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 400px;
  padding: 25px;
}

.toc-static-call-to-action-heading {
  @include toc-static-margin-bottom(24px);

  h1 {
    @include toc-static-landing-font(40px);
    color: $light-color;
    font-weight: 300;
    margin: 0;
  }
}

.toc-static-call-to-action-message {
  @include toc-static-margin-bottom(24px);

  p {
    @include toc-static-landing-font(24px);
    @include toc-static-margin-bottom(16px);
    margin-top: 0;
    color: $light-color;
  }
}

.toc-static-call-to-action-actions {
  max-width: 400px;
  width: 90%;
}

.toc-static-call-to-action-action {
  flex: 1 1 auto;
  @include toc-static-margin-bottom(16px);
}

.toc-static-call-to-action-hidden-action {
  display: none;
}

.toc-static-call-to-action-images {
  flex: 1 1 200px;
  display: flex;
  padding: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toc-static-call-to-action-image-phone {
  width: 200px;
  height: 405px;
  background: url(assets/images/phone.svg);
  background-size: cover;
}
